/* Custom properties */

:root {
  --color-primary: #389bff;
  --color-primary-dark: #3c4a6f;
  --color-secondary: #41b883;
  --color-complementary: #ff1616;
  --color-font: #35495e;
  --color-shadow: #888f98;
  --color-border: #35495e;
  --color-background: #dce8f9;

  --font-weight: 700;
  --font-family: Avenir, Helvetica, Arial, sans-serif;
  --border-radius: 10px;
  --gap: 10px;
}

/* Hide un-compiled mustache bindings until the Vue instance is ready */
[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--color-font);
  background-color: var(--color-background);
}
