/* Custom properties */

:root {
  --color-primary: #0668ca;
  --color-secondary: #036e16;
  --color-light: #8d8d8d;
  --color-background: #dce8f9;

  --font-weight: 700;
  --font-family: Avenir, Helvetica, Arial, sans-serif;
}

/* Hide un-compiled mustache bindings until the Vue instance is ready */
[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--color-primary);
  background-color: var(--color-background);
}
